* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
